body {
    background-image: url(gambar/Coffee-and-tea-HD-Photo-picture-images-wallpapers-desktop-40.jpg);
    background-size: 100%;
}

.badan {
    background-color: white;
    padding: 25px;
    margin-top: 100px;
}

.img-fluid {
    width: 75%;
}